<div id="canvasAreaWrapper" class="flex-1 h-full relative overflow-hidden overscroll-none touch-none">
    <div class="absolute inset-0 pointer-events-none opacity-5" style="background-image: radial-gradient(#ffffff 1px, transparent 1px); background-size: 40px 40px;"></div>
    <!-- 下面这行增加了 transform-origin: 0 0 -->
    <div id="canvasArea" class="absolute inset-0 w-[200vw] h-[200vh] left-[-50vw] top-[-50vh] cursor-grab active:cursor-grabbing" style="transform-origin: 0 0; background-image: url('{{ url_for('static', filename='IMG_20260808_170606_compressed.jpg') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; touch-action: none; overscroll-behavior: none;">
        <div id="nodeContainer" class="relative w-full h-full"></div>
    </div>
</div>
